body {
    text-align: center;
    background-image: url(./images/unnamed.png);
    background-color: rgba(0, 0, 0, 0.091);
    color: white;
    align-items: center;
    text-decoration: underline;
}
a{
    color:white;
}
a:visited { text-decoration: none; color:white; }

.elon {
    height: 200px;
    width: 200px;
}

/* body {
    text-align: center;
    background-image: url(./images/elon.jpeg);
    background-repeat: repeat-y,x;
    background-size: 100px;
    background-color: rgba(0, 0, 0, 0.091);
    color: white;
    align-items: center;
    text-decoration: underline;
}
a{
    color:white;
}
a:visited { text-decoration: none; color:white; }

.elon {
    height: 200px;
    width: 200px;
} */
